:root {
    --primary-color: #0d6efd;
    --text-color: #212529;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

main {
    padding: 2rem 0;
}

.card {
    border-radius: 0.75rem;
}

.card .form-control {
    border-radius: 0.5rem;
}

* {
    user-select: none;
}